.UlLists{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    flex-basis: 50%;
    flex-grow: 1;
    /* margin-top: -20px ; */
}

.ListItem{
    flex-grow: 1;
    flex-basis: 50%;
}

#ListCard{
    /* margin-top: 20px; */
    display: flex;
}